#overlay.active,
#overlay-filter.active {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(2, 11, 39, 0.5);
  z-index: 10;
  transition: all 0.1s ease-in;
}

.modal-content {
  border-radius: 15px;
}

/* Modal Login */
#modalLogin .modal-header {
  border-bottom: none;
  padding: 15px;
}

#modalLogin .modal-body {
  padding: 0 53px;
}

#modalLogin .modal-body .title-login {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.005em;
  font-weight: 700;
  color: #020b27;
}

#modalLogin .modal-body .text-login {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.005em;
  font-weight: 400;
  color: #4a4f63;
}

#modalLogin .modal-body .wrapper-form-login .form-control {
  /* height: 48px; */
  font-size: 16px;
  padding: 11px 56px 11px 15px;
}

#modalLogin .modal-body .wrapper-form-login .btn-login {
  width: 100%;
  height: 48px;
  border-radius: 40px;
  font-size: 16px;
}

#modalLogin .modal-body .wrapper-register {
  text-align: center;
}

#modalLogin .modal-body .wrapper-register .register {
  position: relative;
  font-size: 14px;
}

#modalLogin .modal-body .wrapper-register .register .line:first-child {
  position: absolute;
  height: 1px;
  width: 30%;
  background-color: #ccc;
  top: 45%;
  left: 2%;
}

#modalLogin .modal-body .wrapper-register .register .line:last-child {
  position: absolute;
  height: 1px;
  width: 30%;
  background-color: #ccc;
  top: 45%;
  right: 2%;
}

#modalLogin .modal-body .wrapper-register .register .link-register {
  cursor: pointer;
  text-decoration: underline;
}

#modalLogin .modal-footer {
  border-top: none;
}

.pd-6 {
  padding: 0 6rem !important;
}

.pb-16 {
  padding-bottom: 16px;
}

#form-filter {
  display: none;
  background-color: var(--color-white);
  position: absolute;
  bottom: unset;
  top: unset;
  left: unset;
  right: unset;
  z-index: 20;
  margin-top: 0.25rem;
  border-radius: 16px;
}

#form-filter .wrapper-form-filter .filter-quick {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 8px;
}

#form-filter .wrapper-form-filter p {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

#form-filter .wrapper-form-filter .filter-quick .box-filte__quick {
  line-height: 21px;
  border: 1px solid rgb(229, 231, 235);
  padding: 5px;
  border-radius: 20px;
}

#form-filter .wrapper-form-filter .filter-quick .box-filte__quick:hover {
  background-color: #e4e8ed;
  transition: all 0.3s;
  border: 1px solid #b3b0b0;
}

#form-filter .wrapper-form-filter .filter-quick .box-filte__quick a {
  color: rgb(2, 11, 39);
  font-size: 14px;
  font-weight: 500;
}

#form-filter .wrapper-form-filter .filter-quick .box-filte__quick a span {
  cursor: pointer;
  overflow: hidden;
  will-change: transform;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 50px;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: 500;
  margin-inline-end: 0px;
}

.title-section {
  margin-top: 0;
  margin-left: 0.8rem;
  margin-bottom: 0;
  font-size: 18px;
}

.slick-next {
  right: 15px;
  z-index: 10;
  background: url(./../images/angle-right-solid.svg);
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ddd;
}

.slick-prev {
  left: 4px;
  z-index: 10;
  background: url("./../images/angle-left-solid.svg");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ddd;
}

.slick-next::before,
.slick-prev::before {
  color: transparent;
}

.slick-next:hover {
  background: url("./../images/angle-right-solid.svg");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--color-primary);
}

.slick-prev:hover {
  background: url("./../images/angle-left-solid.svg");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--color-primary);
}

/* Tab */
.wrapper-tab .nav {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.wrapper-tab .nav-tabs {
  border-bottom: none;
}

.wrapper-tab .nav .nav-link {
  cursor: pointer;
  overflow: hidden;
  will-change: transform;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: 500;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  background: var(--color-white);
  color: #4a4f63;
  border: 1px solid #a9b2be;
  height: 36px;
  position: relative;
}

.wrapper-tab .nav .nav-link.active {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.2s linear;
}

.wrapper-tab .nav .nav-link .icon-tick {
  width: 0px;
  height: 0px;
  border-top: 26px solid #1250dc;
  border-left: 26px solid transparent;
  margin-top: -6px;
  margin-right: -10px;
  position: absolute;
  top: 6px;
  right: 10px;
  display: none;
}

.wrapper-tab .nav .nav-link.active .icon-tick {
  display: block;
}

.box-content__sell {
  background-color: var(--color-white);
  box-shadow: var(--bx-shadow-primary);
  border-radius: 15px;
  padding: 12px;
  border: 1px solid transparent;
}

.box-content__sell:hover {
  border: 1px solid var(--color-primary);
  transition: all 0.3s ease-in;
}

.box-content__sell .box-content__img {
  position: relative;
}

.box-content__sell .box-content__img .product-sale__sell {
  position: absolute;
  background: linear-gradient(295deg, #cd1a0c 0%, #ff5246 98.45%);
  top: -8%;
  padding: 0.2rem 0.7rem;
  left: -8%;
  border-radius: 15px 0;
  color: var(--color-white);
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: 0.02em;

  text-shadow: 0.5px 0.5px 0px rgba(0, 0, 0, 0.25);
}

.box-content__sell .box-content__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.box-content__sell .content p {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  font-weight: 700;
  margin: 16px 0 8px 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #020b27;
}

.box-content__sell .price .price__new {
  font-size: 16px;
  color: var(--color-primary);
  font-weight: 700;
}

.box-content__sell .price .price__new span {
  font-weight: 400;
  font-size: 14px;
}

.box-content__sell .price .price__old {
  text-decoration: line-through;
  color: #8c8a8a;
  font-size: 14px;
}

.box-content__sell .price {
  margin-bottom: 0.5rem;
  height: 40px;
}

.box-content__sell .total span {
  background-color: #e7e5e5;
  width: max-content;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.2rem;
  height: 28px;
  font-size: 13px;
}

.box-content__sell .btn-sell {
  background-color: var(--color-primary);
  text-align: center;
  padding: 8px 12px;
  border-radius: 20px;
  /* margin: 2rem 0 0.8rem 0; */
}

.box-content__sell .btn-sell a {
  color: var(--color-white);
}

.list-filter {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-bottom: 24px;
}

.list-filter span p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.pd-content {
  padding: 32px 0 16px 0;
}

.pd-content-2 {
  padding: 16px 0 32px 0;
}

.box-nav {
  cursor: pointer;
  overflow: hidden;
  will-change: transform;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: 500;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  background: var(--color-white);
  color: #4a4f63;
  border: 1px solid #a9b2be;
  height: 36px;
  position: relative;
}

.box-tag {
  cursor: pointer;
  overflow: hidden;
  will-change: transform;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: 500;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  background: #edf0f3;
  color: #4a4f63;
  border: 1px solid #edf0f3;
  height: 24px;
}

.box-tag p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

.box__stick {
  padding: 16px;
  border-radius: 12px;
  background-color: var(--color-white);
  box-shadow: rgba(0, 39, 102, 0.08) 0px 0px 24px -4px,
    rgba(0, 39, 102, 0.03) 0px 0px 8px -4px;
}

.box__stick .wrapper-box {
  display: flex;
  flex-direction: column;
}

.box__stick .wrapper-box picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.box__stick .wrapper-box .content__stick {
  padding-top: 20px;
}

.box__stick .wrapper-box .content__stick h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.0025em;
  color: #020b27;
}

.box__stick .wrapper-box .content__stick .content {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  padding-top: 8px;
  padding-bottom: 20px;
  color: #4a4f63;
  height: 80px;
}

.box__stick .wrapper-box .content__stick .link__stick p {
  color: var(--color-primary);
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.box-2__stick {
  background-color: var(--color-white);
  border-radius: 12px;
  box-shadow: rgba(0, 39, 102, 0.08) 0px 0px 24px -4px,
    rgba(0, 39, 102, 0.03) 0px 0px 8px -4px;
  padding: 16px;
}

.box-2__stick .wrapper-box-2__stick {
  display: flex;
  flex-direction: column;
}

.box-2__stick .wrapper-box-2__stick picture img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.box-2__stick .wrapper-box-2__stick .content-box-2__stick {
  padding-top: 20px;
}

.box-2__stick .wrapper-box-2__stick .content-box-2__stick h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.0025em;
  color: #020b27;
  text-transform: uppercase;
}

.box-2__stick .wrapper-box-2__stick .content-box-2__stick .list-box-2__stick {
  margin-bottom: 24px;
}

.box-2__stick
  .wrapper-box-2__stick
  .content-box-2__stick
  .list-box-2__stick
  li {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #4a4f63;
  margin-top: 12px;
}

.box-2__stick
  .wrapper-box-2__stick
  .content-box-2__stick
  .list-box-2__stick
  li::before {
  content: "\2022";
  color: #a9b2be;
  margin-right: 8px;
}

.box-2__stick .wrapper-box-2__stick .content-box-2__stick .link-box-2__stick a {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--color-primary);
}

.wrapper-title a {
  color: var(--color-primary);
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

/* .p-16 {
    padding: 0 16px;
  } */

#scrollBtn {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 48px;
  height: 48px;
  opacity: 1;
  float: right;
  z-index: 10000;
  transition: all 0.3s ease-in;
  display: none;
  animation: bounceIn 0.5s;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

#scrollBtn button {
  height: 100%;
  width: 100%;
  background: linear-gradient(315deg, #1250dc 14.64%, #306de4 85.36%);
  border-radius: 2.4rem;
  position: relative;
  font-size: 20px;
  border: none;
}
